<div data-template="PresentationListPanel" class="Presentation ListPanel">
	<ul class="List"></ul>
</div>
<div data-template="PresentationListItem">
	<ul>
		<li>
			<span class="Text"></span>
			<div class="Actions">
				<div class="Action icon icon-cross" data-action="Delete"></div>
			</div>
		</li>
	</ul>
</div>

<div data-template="PresentationFramesPanel" class="Presentation FramesPanel">
	<div class="Actions">
		<div class="Action" id="editframe">
			<span class="icon icon-pencil"></span> Edit
		</div>
		<div class="Action" id="deleteframe">
			<span class="icon icon-cross"></span> Delete
		</div>
	</div>
	<div class="Frames"></div>
</div>
<div data-template="PresentationFrame" class="Frame"></div>
