.Presentation.FramesPanel {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	box-sizing: border-box;
	font-size: 0px;
	position: relative;
}
.Presentation.FramesPanel .Actions {
	background-color: #E0E0E0;
	width: 100%;
	margin-bottom: 6px;
	border-bottom: 1px solid #CCC;
}
.Presentation.FramesPanel .Actions .Action {
	display: inline-block;
	font-size: 12px;
	padding: 4px 8px;
	height: 17px;
	line-height: 17px;
	cursor: pointer;
}
.Presentation.FramesPanel .Actions .Action:hover {
	background-color: #AAA;
}
.Presentation.FramesPanel .Frames {
	padding: 2px;
}
.Presentation.FramesPanel .Frame {
	width: 180px;
	height: 140px;
	background-color: black;
	border-radius: 2px;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
	color: white;
	font-size: 12px;
	padding: 6px;
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
	position: relative;
	opacity: 0.6;
}
.Presentation.FramesPanel .Frame:hover {
	opacity: 0.8;
}
.Presentation.FramesPanel .Frame.Selected,
.Presentation.FramesPanel .Frame.Active {
	opacity: 1;
	box-shadow: 0px 0px 6px 3px #000;
}
.Presentation.FramesPanel .Frame.Selected:before,
.Presentation.FramesPanel .Frame.Selected:after,
.Presentation.FramesPanel .Frame.Active:before,
.Presentation.FramesPanel .Frame.Active:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	position: absolute;
	top: -3px;
	left: -3px;
	background-color: transparent;
	border: 3px solid transparent;
}
.Presentation.FramesPanel .Frame.Selected:before {
	border-color: #48F;
}
.Presentation.FramesPanel .Frame.Active:after {
	border-color: #F22;
}
.Presentation.FramesPanel .Frame.Selected.Active:after {
	border-bottom-color: #48F;
	border-right-color: #48F;
}
/*.Presentation.FramesPanel .Frame.Selected:before {
	border-top-color: #48F;
	border-left-color: #48F;
}
.Presentation.FramesPanel .Frame.Selected:after,
.Presentation.FramesPanel .Frame.Selected.Active:after {
	border-bottom-color: #48F;
	border-right-color: #48F;
}
.Presentation.FramesPanel .Frame.Active:before {
	border-top-color: #F22;
	border-left-color: #F22;
}
.Presentation.FramesPanel .Frame.Active:after {
	border-bottom-color: #F22;
	border-right-color: #F22;
}*/
.Presentation.SearchBox {
	width: -webkit-calc(100% - 35px);
	height: 20px;
    margin-left: 5px;    
    margin-top: 5px;
    margin-bottom: 4px;
    border:none;
    outline:none
}

.Presentation.ListPanel {
	position: relative;
	height: 100%;
}
.Presentation.ListPanel .List {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.Presentation.ListPanel .List li {
	margin: 0px;
	padding: 2px 24px 2px 12px;
	background-color: #DDD;
	border-bottom: 1px solid #CCC;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Presentation.ListPanel .List li.Edit, 
.Presentation.ListPanel .List li.Edit:hover {
	margin: 0px;
	padding: 1px 0px 1px 12px;
	background-color: #CCFF99;
	border-bottom: 1px solid #CCC;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Presentation.ListPanel .List li:hover {
	background-color: #FFF;
}
.Presentation.ListPanel .List li.Active {
	background-color: #FFC;
}

.Presentation.ListPanel .List .Hidden {
	display: none;
}

.Presentation.ListPanel .List .EditActive {
	background-color: #CCFF99;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size:initial;
	border:none;
	outline:none;	
}

.Presentation.ListPanel .List li .Actions {
	display: none;
	position: absolute;
	top: 4px;
	right: 0px;
	font-size: 0;
}
.Presentation.ListPanel .List li:hover .Actions {
	display: block;
}
.Presentation.ListPanel .List li .Actions .Action {
	display: inline-block;
	margin-right: 4px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 7px;
	text-align: center;
	border-radius: 9px;
	color: #888;
}
.Presentation.ListPanel .List li .Actions .Action:hover {
	background-color: #444;
	color: #EEE;
}

.AddItem {
	position: absolute;
	bottom: 6px;
	right: 6px;
	width: 40px;
	height: 40px;
	font-size: 0px;
	background-color: #444;
	box-sizing: border-box;
	border-radius: 20px;
	box-shadow: 0px 0px 8px -1px #444;
	white-space: nowrap;
	overflow: hidden;
	z-index: 999;
}
.AddItem > .AddItemButton {
	background-color: #444;
	cursor: pointer;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 39px;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.8);
	border-radius: 19px;
	border: 1px solid transparent;
	z-index: 1;
}
.AddItem.Open,
.AddItem:hover {
	background-color: #A00;
	box-shadow: 0px 0px 10px -1px #000;
}
.AddItem.Open,
.AddItem:active {
	box-shadow: 0px 0px 10px -2px #000;
}
.AddItem > .AddItemButton:hover {
	background-color: #F00;
	border: 1px solid #A00;
}
.AddItem.Open > .AddItemButton {
	background-color: #800;
	border: 1px solid #700;
}
.AddItem.Open {
	height: auto;
	background-color: #A00;
}
.AddItem > .AddItemOptions {
	display: none;
	padding: 4px 5px;
	width: 38px;
	height: auto;
}
.AddItem.Open > .AddItemOptions {
	display: block;
}
.AddItem > .AddItemOptions > .Option {
	display: block;
	width: 26px;
	height: 26px;
	background-color: #F00;
	border-radius: 18px;
	cursor: pointer;
	border: 2px solid #A00;
	font-size: 10px;
	line-height: 27px;
	text-align: center;
	color: white;
}
.AddItem > .AddItemOptions > .Option:hover {
	border: 2px solid #800;
}